.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.leaflet-container {
  width: 100%;
  height: 500px;
  outline: none;
  overflow: hidden;
}

#hmebtn{
 font-size: large;
}
#titleNav{ 
  font-size: xx-large;
  color: white
}
#navbarr{
  background-color: #87CEFA;
}
#navbarr ul.navbar-nav li a.nav-link{
  color: white
}
#navbarr ul.navbar-nav li a.nav-link:hover{
  color: black
}
.carouselDiv{
  border-block-color: black;
  width:80%;
  height:40% !important;
  padding-bottom: 30px;
}
#carouselpadding {
padding-top: 5px;
}

          
       
          
            
       